<div class="signup-container">
    <h1>Új profil</h1>
  
    @if (showForm) {
      <form [formGroup]="signUpForm" (ngSubmit)="signup()" class="signup-form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

        <div class="name-row" formGroupName="nev">
          <mat-form-field appearance="outline" class="alma">
            <mat-label>Vezetéknév</mat-label>
            <input matInput formControlName="vezeteknev">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Keresztnév</mat-label>
            <input matInput formControlName="keresztnev">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" formControlName="jelszo">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Jelszó újból</mat-label>
          <input matInput type="password" formControlName="ujbol">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <div class="buttons-row">
          <button mat-raised-button  type="submit">Regisztráció</button>
          <button mat-raised-button [routerLink]="['/bejelentkezes']">Rendelkezik már fiókkal?</button>
        </div>
      </form>
    }
  </div>