<h1>Rólunk</h1>
<div class="egyes">
    <img src="kivul.jpg" alt="kivul">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis ante diam, at sodales est blandit quis. Nunc ac congue est, imperdiet maximus elit. Aenean sodales turpis justo, non euismod eros finibus at. Vestibulum vitae laoreet arcu. Vivamus egestas quam eget bibendum venenatis.</p>
</div>
<div class="egyes">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis ante diam, at sodales est blandit quis. Nunc ac congue est, imperdiet maximus elit. Aenean sodales turpis justo, non euismod eros finibus at. Vestibulum vitae laoreet arcu. Vivamus egestas quam eget bibendum venenatis.</p>
<img src="belul.jpg" alt="belul">
</div>