<div class="gep">
    <img src="banner.png" alt="banner">
</div>
<div class="mobil">
    <img src="mobil.png" alt="banner">
</div>
<h1>Filmeink:</h1>
<div class="film">
    <div class="card-container">
        <mat-card *ngFor="let film of FilmObject" class="film-card">
          <img mat-card-image [src]="film.kep" [alt]="film.nev" />
          <mat-card-header>
            <mat-card-title >{{ film.nev }}</mat-card-title>
            <mat-card-subtitle>{{ film.kiadasev }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ film.leiras }}</p>
          </mat-card-content>
          <button mat-raised-button (click)="tovabb(film)" type="submit">Jegy vásárlás</button>
        </mat-card>
      </div>
</div>

